# Environment
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local
.env.example
**/.env.example

# OS
.DS_Store

# Backend
backend/server
backend/tmp/

# Frontend
frontend/node_modules/
frontend/dist/

# Docker
postgres_data/
